<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button shape="round" fill clear (click)="decrement()">
      <ion-icon slot="icon-only" color="danger" name="remove-circle"></ion-icon>
    </ion-button>
    {{ valor }}
    <ion-button shape="round" fill clear (click)="increment()">
        <ion-icon slot="icon-only" color="success" name="add-circle"></ion-icon>
    </ion-button>
  </div>
</ion-content>
